

   body {
        height: 100%;
        background: repeating-radial-gradient(rgba(133, 143, 228, 0.308), rgba(68, 62, 151, 0.308) 10%, rgba(57, 125, 226, 0.473) 15%); 
    }
    
    h1 {
        color: rgba(54, 73, 124, 0.952);
        text-align: center;
        font-size: 4.4rem;
        font-family: 'Berkshire Swash', cursive;
        text-decoration-line: underline;
    }

    h1:hover {
        color: rgba(35, 42, 114, 0.918);
         text-align: center;
        font-size: 4.4rem;
        font-family: 'Pacifico', cursive;
        text-decoration-line: none;    
    }

    
    button {
        width: 6em;
        height: 3em;
        color: rgba(231, 235, 245, 0.9);
        background-color: rgba(49, 77, 155, 0.9);
        margin: 0;
        position: absolute;
        border-radius: 1rem;
        top: 94%;
        left: 75%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    button:hover {
        width: 6em;
        height: 3em;
        color: rgba(28, 66, 97, 0.8);
        background-color: rgba(133, 153, 207, 0.6);
        margin: 0;
        position: absolute;
        border-radius: 1rem;
        top: 94%;
        left: 75%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #tweet {
        width: 6em;
        height: 2.6em;
        color: rgba(231, 235, 245, 0.9);
        background-color: rgba(49, 77, 155, 0.9);
        margin: 0;
        padding-top: 0.6rem;
        position: absolute;
        border-radius: 1rem;
        top: 94%;
        left: 25%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    #tweet:hover {
        width: 6em;
        height: 3em;
        color: rgba(28, 66, 97, 0.8);
        background-color: rgba(133, 153, 207, 0.6);
        margin: 0;
        position: absolute;
        border-radius: 1rem;
        top: 94%;
        left: 25%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .span h3 {
        font-family: 'Pacifico', cursive;
        letter-spacing: 0.8rem;
        line-height: 140%;
        font-size: 2.2rem;
        color: rgba(217, 224, 243, 0.582);
        background-color: rgba(49, 77, 155, 0.9);
        border-color: rgba(169, 173, 184, 0.7);
        border-width: 1.2rem;
        border-radius: 13px;
        box-shadow:  1.2rem 1.2rem rgba(147, 154, 172, 0.6);
        margin: 0;
        padding: 4.4rem 3.3rem;
        position: absolute;
        top: 55%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);    
    }
    
    .span h3:hover {
        font-family: 'Berkshire Swash', cursive;
        font-size: 2.2rem;
        color: rgba(28, 66, 97, 0.8);
        background-color: rgba(133, 153, 207, 0.9);
        border-color: rgba(142, 125, 182, 0.863);
        border-width: 1rem;
        border-radius: 13px;
        box-shadow:  1.2rem 1.2rem rgba(33, 44, 71, 0.6);
        margin: 0;
        padding: 4.4rem 3.3rem;
        position: absolute;
        top: 55%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);    
    }

    p a {
        font-size: 2rem;
        letter-spacing: 0.4rem;
        line-height: 60%;
        font-family: 'Pacifico', cursive;
        color: rgba(4, 34, 34, 0.9);
        margin: 0;
        padding: 0.4rem 0.3rem;
        position: absolute;
        top: 15%;
        left: 20%;   
    }
    
    p a:hover {
        font-size: 2rem;
        font-family: 'Berkshire Swash', cursive;
        color: rgba(22, 9, 31, 0.9);
        margin: 0;
        padding: 0.4rem 0.3rem;
        position: absolute;
        top: 15%;
        left: 20%;   
    }
    